.title-bar {
	position: absolute;
	top: 20px;
	left:50px;
	-webkit-transform: rotate(-2deg);
	-moz-transform:    rotate(-2deg);
	-ms-transform:     rotate(-2deg);
	-o-transform:      rotate(-2deg);
	transform:         rotate(-2deg);
	background-color: {{{Primary}}};
	color: #fff;
	text-shadow: 0 1px 0 rgba(0, 0, 0, 0.3);
	font-size: 24px;
	line-height: 24px;
	padding: 10px 15px 7px;
}

.title-bar.right {
	-webkit-transform: rotate(2deg);
	-moz-transform:    rotate(2deg);
	-ms-transform:     rotate(2deg);
	-o-transform:      rotate(2deg);
	transform:         rotate(2deg);
}
