<!doctype html>
{{! paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/ }}
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
{{! Consider adding an manifest.appcache: h5bp.com/d/Offline }}
<!--[if gt IE 8]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
<head>
	<meta charset="utf-8">

	{{! Use the .htaccess and remove these lines to avoid edge case issues.
       More info: h5bp.com/b/378 }}
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">

	{{#Title}}<title>{{{Title}}}</title>{{/Title}}

	{{#MetaDescription}}<meta name="description" content="{{{MetaDescription}}}">{{/MetaDescription}}

	{{! Mobile viewport optimized: j.mp/bplateviewport }}
	{{#MetaViewport}}<meta name="viewport" content="{{{MetaViewport}}}">{{/MetaViewport}}

	{{{Head}}}

	{{#Favicon16x16URL}}
		<link rel="shortcut icon" href="{{{Favicon16x16URL}}}">
	{{/Favicon16x16URL}}
	{{#Favicon57x57URL}}
		<link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{{Favicon57x57URL}}}">
	{{/Favicon57x57URL}}
	{{#Favicon72x72URL}}
		<link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{{Favicon72x72URL}}}">
	{{/Favicon72x72URL}}
	{{#Favicon114x114URL}}
		<link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{{Favicon114x114URL}}}">
	{{/Favicon114x114URL}}
	{{#Favicon129x129URL}}
		<link rel="apple-touch-icon-precomposed" sizes="129x129" href="{{{Favicon129x129URL}}}">
	{{/Favicon129x129URL}}

	{{{PreCSS}}}
	<link rel="stylesheet" href="{{{CSS}}}">
	{{{PostCSS}}}
	{{{DynamicStyle}}}

	{{! All JavaScript at the bottom, except for Modernizr / Respond.
       Modernizr enables HTML5 elements & feature detects; Respond is a polyfill for min/max-width CSS3 Media Queries
       For optimal performance, use a custom Modernizr build: www.modernizr.com/download/ }}
	<script src="/js/libs/modernizr-2.0.6.min.js"></script>

	{{{HeadScripts}}}
	{{{DynamicHeadScripts}}}
</head>

<body>
	<div class="before-container"></div>
	<div class="container">
		{{{Content}}}
	</div>
	<div class="after-container"></div>


	{{! JavaScript at the bottom for fast page loading }}
	{{{Scripts}}}
	{{{DynamicScripts}}}


{{! Google Analytics: }}


	{{! Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6.
		chromium.org/developers/how-tos/chrome-frame-getting-started }}
	<!--[if lt IE 7 ]>
		<script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall.min.js"></script>
		<script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
	<![endif]-->
</body>
</html>